<div class="row">
  <div class="col-lg-8">
  <h1>レストラン一覧</h1>
   <% @restaurants.each do |restaurant| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/restaurants/<%= restaurant.id %>" class="img-responsive user-photo"><%= restaurant.restaurant_name %></a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <div class="thumbnail">
              <img src="<%= restaurant.url %>" >
            </div>
          </div>
          <div class="col-sm-10">
            <p>口コミ <%= restaurant.reviews.count %>件
            </p>
            <% restaurant.reviews.each do |review| %>
              <div class="panel panel-default">
                <div class="panel-body">
                  <p><%= review.title %>
                  <small class="pull-right"><%= review.user.email %>さんの口コミ</small></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to '新しくお店を登録する', new_restaurant_path, class: "btn btn-primary" %>

  </div>
</div>
