<div class="row">
  <div class="col-lg-12">
    <h1>
      <%= @restaurant.restaurant_name %>
      <% if @average == 5  %>
        <h2 class="text-danger">★★★★★ <%= @average %></h2>
      <% elsif @average >= 4 %>
        <h2 class="text-danger">★★★★☆ <%= @average %></h2>
      <% elsif @average >= 3 %>
        <h2 class="text-danger">★★★☆☆ <%= @average %></h2>
      <% elsif @average >= 2 %>
        <h2 class="text-danger">★★☆☆☆ <%= @average %></h2>
      <% elsif @average >= 1 %>
        <h2 class="text-danger">★☆☆☆☆ <%= @average %></h2>
      <% else %>
        <h2 class="text-danger">☆☆☆☆☆ <%= @average %></h2>
      <% end %>
      <div class="thumbnail">
        <img src="<%= @restaurant.url %>" >
      </div>
      <span class="pull-right"><%= @restaurant.phone %></span>
    </h1>
    <% if user_signed_in? && @current_user_review %>
        <%= link_to 'レビューを編集する', edit_restaurant_review_path(@current_user_review.restaurant, @current_user_review), class: "btn btn-primary" %>
    <% elsif user_signed_in? %>
        <a href="/restaurants/<%= @restaurant.id %>/reviews/new" class="btn btn-primary">レビューを登録する</a>
    <% else %>
      <%= link_to 'ログインしてレビューを投稿', new_user_session_path, class: "btn btn-primary" %>
    <% end %>

    <p>住所：<%= @restaurant.address %></p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-8">
      <% @restaurant.reviews.each do |review| %>
        <div class="panel panel-default">
          <div class="panel-title">
           <h3><%= review.title %></h3>
          </div>
          <div class="panel-body">
            <%= simple_format(review.body) %>

          </div>
          <div class="panel-footer">
          </div>
            <div class="media">
              <div class="media-body">
                  <p>
                 </p>
              </div>
          <p class="text-muted">
            <%= review.created_at.strftime('%Y/%m/%d %H:%m') %>
            投稿者：<%= review.user.email %>さん
          </p>
        </div>
        </div>
      <% end %>
  </div>
</div>
