<div class="row">
  <div class="col-lg-12">
    <h1>
      <%= @restaurant.restaurant_name %>
      <h2 class="text-danger">
      <% if @average.nil? %>
      <% else %>
        <% if @average == 5  %>
          ★★★★★ <%= @average %>
        <% elsif @average >= 4 %>
          ★★★★☆ <%= @average %>
        <% elsif @average >= 3 %>
          ★★★☆☆ <%= @average %>
        <% elsif @average >= 2 %>
          ★★☆☆☆ <%= @average %>
        <% elsif @average >= 1 %>
          ★☆☆☆☆ <%= @average %>
        <% else %>
          ☆☆☆☆☆ <%= @average %>
        <% end %>
      <% end %>
      </h2>
      <div class="thumbnail">
        <img src="<%= @restaurant.url %>" >
      </div>
      <span class="pull-right"><%= @restaurant.phone %></span>
    </h1>
    <% if user_signed_in? && @current_user_review %>
        <%= link_to 'レビューを編集する', edit_restaurant_review_path(@current_user_review.restaurant, @current_user_review), class: "btn btn-primary" %>
    <% elsif user_signed_in? %>
        <a href="/restaurants/<%= @restaurant.id %>/reviews/new" class="btn btn-primary">レビューを登録する</a>
    <% else %>
      <%= link_to 'ログインしてレビューを投稿', new_user_session_path, class: "btn btn-primary" %>
    <% end %>

    <p>住所：<%= @restaurant.address %></p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-8">
      <% @restaurant.reviews.each do |review| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= review.title %>
              <span class="pull-right"><small>訪問日：<%= review.updated_at.strftime('%Y/%m/%d %H:%m') %></small></span>

            </h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                写真
              </div>
              <div class="media-body">
                <small><%= review.user.email %>さんの口コミ</small>
              </div>
            </div>
            <hr>
            <h5 class="text-danger">
              <% if review.rate == 5  %>
                ★★★★★ <%= review.rate %>
              <% elsif review.rate >= 4 %>
                ★★★★☆ <%= review.rate %>
              <% elsif review.rate >= 3 %>
                ★★★☆☆ <%= review.rate %>
              <% elsif review.rate >= 2 %>
                ★★☆☆☆ <%= review.rate %>
              <% elsif review.rate >= 1 %>
                ★☆☆☆☆ <%= review.rate %>
              <% else %>
                ☆☆☆☆☆ <%= review.rate %>
              <% end %>
            </h5>
            <hr>
            <p></p>
              <%= review.body %>
            <p></p>


          </div>
          <div class="panel-footer">
            <small>誹謗・中傷喜んでお受け致します。打たれ強くはないです。</small>
          </div>
        </div>

          <br>
      <% end %>
</div>
