<div class="row">
  <div class="col-lg-12">
    <h1>
      <%= @restaurant.restaurant_name %>
      <%= @average %>
      <div class="thumbnail">
        <img src="<%= @restaurant.url %>" >
      </div>
      <span class="pull-right"><%= @restaurant.phone %></span>
    </h1>
    <% if @confirmation.nil? %>
          <a href="/restaurants/<%= @restaurant.id %>/reviews/new" class="btn btn-primary">レビューを登録する</a>
      レストランに紐づくレビューに、自分のidがあれば編集

    <% else %>

    エルス
    <% end %>

    <p>住所：<%= @restaurant.address %></p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-8">
      <% @restaurant.reviews.each do |review| %>
        <div class="panel panel-default">
          <div class="panel-title">
           <h3><%= review.title %></h3>
          </div>
          <div class="panel-body">
            <%= simple_format(review.body) %>

          </div>
          <div class="panel-footer">
          </div>
            <div class="media">
              <div class="media-body">
                  <p>
                 </p>
              </div>
          <p class="text-muted">
            <%= review.created_at.strftime('%Y/%m/%d %H:%m') %>
            投稿者：<%= review.user.email %>さん
          </p>
        </div>
        </div>
      <% end %>
  </div>
</div>
